/* Project 1: Cella Rule 150 - CS335-02 
by Nidhi Shah ( nidhi989@csu.fullerton.edu)& 
Emily Pham ( tpham523@csu.fullerton.edu)&
Tai Nguyen ( tainguyen@csu.fullerton.edu)

This CSS file defines font, text alignment and background color for main HTML page.*/



body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: black;
}
